   :root {
      display: flex;
      justify-content: space-around;  
      font-family: 'Montserrat', sans-serif;
      /* fonte Montserrat*/
      background-color: #040708;
      color: #FFFFFF;
  }
  
  .cabecalho {
      padding-left: 30px;  
      margin-top: 1.25em;
      text-transform: uppercase;
      color: rgb(229, 9, 20);
      font-size: 1.56em;
      font-weight: 800;
  }
  
  .principal {
      margin-top: 30px;
      display: flex;
      justify-content: center;
     flex-flow: row wrap; 
      background-color: #141414;
      width: 100%;
  }
  
  .imagem {
      margin-top: 10px;
      width: 50%;
      border-radius: 10px;
  }
  
  .caixa {
      height: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }
  
  .lista li:hover {
      background-color: rgb(229, 9, 20);
      font-size: 30px;
      text-decoration: underline;
  }
  
  .lista li:active {
      background-color: #993399;
  }
  
  .lista h2 {
      padding: 10px;
      font-size: 20px;
      font-weight: bold;
  }
  
  .lista li {
      top: 0;
      padding: 10px;
      font-size: 18px;
      box-sizing: border-box;
      border: 2px solid #FFFFFF;
      border-radius: 10px;
  }
  
  nav a {
      font-size: 18px;
      text-decoration: none;
      color: #FFFFFF;
  }
  .texto__palavras-destacadas-html{
        color: red;
  }

  .texto__palavras-destacadas-css {
        color: green ;
  }
  .texto__palavras-destacadas-imagem {
    color: rgb(37, 27, 236) ;
  }

  .texto {
      margin-top: 10px;
      padding: 10px;
      font-size: 18px;
      box-sizing: border-box;
      text-align: center;
  }
  
  #odisseu-logo {}
  
  footer {
      padding-top: 5%;
      width: 100%;
      height: 55%;
      text-align: center;  
      /* align-items: center; */
      font-size: 13px;
      color: #fffff6;
      background-color: #070d0f;
      box-sizing: border-box;
  }  
  /* mobile */
 
    @media only screen and (max-width: 768px) {
     /* https://developer.mozilla.org/pt-BR/docs/Web/CSS/Media_Queries/Using_media_queries */   
        .principal {
            width: 100%;
            display: flex;
            flex-flow: column wrap;
        }

        .imagem {
            width: 100%;
        }

        .caixa {
        display: flex;
        flex-flow: column wrap;
        padding: 20px;

        }
        
        footer {
            display: flex;
            flex-flow: column wrap;
            width: 100%;
            height: auto;
            align-items: center;
        }
    }